@import url("https://fonts.googleapis.com/css2?family=Acme&family=Indie+Flower&family=Montserrat:wght@100&family=Roboto:ital,wght@0,700;1,900&display=swap");
@media (min-width: 380px) {
  .boton {
    background-color: black;
    border-radius: 20px;
    color: white;
    display: flex;
    position: relative;
    font-size: 15px;
    padding: 2px 20px;
    text-decoration: none;
    text-align: center;
    width: 150px;
    height: 30px;
    left: 0;
    top: 20px; } }

@media (min-width: 1200px) {
  .boton {
    background-color: black;
    color: white;
    display: flex;
    position: relative;
    font-size: 20px;
    padding: 2px 35px;
    margin: 0;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    width: 210px;
    height: 40px;
    bottom: 0;
    top: 20px;
    left: 10px; } }

* {
  padding: 0;
  margin: 0; }

body {
  background-color: #580104;
  size: 100vh; }

@media (min-width: 410px) {
  .navColor {
    background-color: #7e0814;
    border-radius: 0 0 20px 20px; }
  .textoNav {
    display: flex;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 8px; }
  .tituloCarrusel {
    display: flex;
    position: relative;
    top: 30px;
    padding: 10px;
    margin: 20px;
    left: 40px;
    width: 300px;
    text-align: center; }
    .tituloCarrusel h2 {
      font-size: 20px;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      color: white; }
  .imgPrincipal {
    display: flex;
    position: relative;
    padding: 0;
    width: 320px;
    top: 70px;
    left: 35px;
    flex-direction: column; }
    .imgPrincipal img {
      border: solid white;
      border-radius: 40px;
      width: 340px;
      height: 300px; }
  .informacion {
    display: flex;
    position: relative;
    padding: 30px;
    margin: 5px;
    text-align: center;
    left: 5px;
    font-size: 15px;
    color: white;
    top: 30px; }
    .informacion .infoH3 {
      display: flex;
      padding: 50px 60px;
      width: 340px;
      font-size: 20px;
      font-family: .informacion .infoH3 fontarial;
      left: 500px;
      top: 20px;
      align-items: center; }
  .tituloPrincipal {
    border-right: 0 50px 50px 0;
    display: flex;
    position: relative;
    width: 300px;
    height: 50px;
    bottom: 120px;
    right: 0;
    left: 50px; }
    .tituloPrincipal h1 {
      display: flex;
      position: relative;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 30px;
      width: 190px;
      height: 50px;
      top: 127px;
      left: 0;
      color: white; }
  .tituloGenero {
    display: flex;
    position: relative;
    padding: 20px;
    color: white;
    bottom: 0;
    left: 0;
    top: 80px;
    text-shadow: 0 0 30px #e00b21; }
    .tituloGenero h2 {
      display: flex;
      position: relative;
      left: 40px;
      top: 5px;
      font-size: 40px; }
  .catalogo {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    align-content: space-around;
    padding: 160px;
    left: 45px;
    width: 300px;
    top: 0; }
    .catalogo .imgLibros {
      background-color: #580104;
      border: solid white;
      width: 180px;
      height: 340px;
      padding: 10px;
      border-radius: 20px;
      margin: 20px; }
      .catalogo .imgLibros img {
        border-radius: 20px;
        display: flex;
        position: relative;
        width: 155px;
        height: 220px;
        left: 0;
        top: 0; }
      .catalogo .imgLibros .texto1 {
        display: flex;
        position: relative;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0;
        margin: 0;
        font-size: 12px;
        left: 8px;
        top: 10px; }
      .catalogo .imgLibros .texto2 {
        display: flex;
        position: relative;
        color: white;
        padding: 0;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        bottom: 20px;
        top: 10px;
        left: 8px; }
  .cuadroContacto {
    border: solid white;
    border-radius: 70px;
    display: flex;
    position: relative;
    padding: 5px;
    margin: 30px;
    width: 350px;
    height: 500px;
    left: 0;
    transition: 1s;
    top: 0; }
    .cuadroContacto .formularioContacto {
      display: flex;
      position: relative;
      flex-direction: column;
      margin: 50px;
      top: 17px;
      width: 235px;
      height: 30px;
      left: 0;
      gap: 15px;
      color: white; }
      .cuadroContacto .formularioContacto textarea {
        width: 235px;
        height: 50px; }
  .piePagina {
    border-radius: 20px 20px 0 0;
    background-color: #7e0814;
    display: flex;
    position: relative;
    padding: 50px; }
    .piePagina .py {
      display: flex;
      position: relative;
      width: 40px;
      height: 40px;
      padding: 30px;
      left: 25px;
      bottom: 30px; }
      .piePagina .py img {
        border: solid white;
        border-radius: 20px;
        margin: 10px; } }

@media (min-width: 1200px) {
  .navColor {
    background-color: #7e0814;
    height: 180px;
    border-radius: 0 0 50px 50px; }
  .textoNav {
    display: flex;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding: 8px; }
    .textoNav:hover {
      transform: scale(1.1);
      background-color: #580104;
      box-shadow: 0 0 30px #580104;
      border-radius: 15px; }
  .tituloCarrusel {
    display: flex;
    position: relative;
    top: 50px;
    padding: 10px;
    margin: 20px;
    left: 390px;
    width: 600px; }
    .tituloCarrusel h2 {
      font-size: 20px;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      color: white; }
  .imgPrincipal {
    display: flex;
    position: relative;
    width: 500px;
    height: 450px;
    padding: 0;
    top: 90px;
    left: 360px;
    flex-direction: column; }
    .imgPrincipal img {
      border: solid white;
      border-radius: 40px;
      width: 600px;
      height: 400px; }
  .informacion {
    display: flex;
    position: relative;
    padding: 30px;
    margin: 20px;
    top: 50px;
    text-align: center;
    left: 0;
    font-size: 15px;
    color: white;
    right: 30px; }
    .informacion .infoH3 {
      display: flex;
      padding: 50px 500px;
      width: 1290px;
      font-size: 20px;
      font-family: .informacion .infoH3 fontarial;
      left: 500px; }
  .tituloPrincipal {
    border-right: 0 50px 50px 0;
    display: flex;
    position: relative;
    width: 500px;
    height: 50px;
    bottom: 120px;
    right: 0;
    left: 50px; }
    .tituloPrincipal h1 {
      display: flex;
      position: relative;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 30px;
      width: 190px;
      height: 50px;
      top: 127px;
      left: 0;
      color: white; }
  .tituloGenero {
    display: flex;
    position: relative;
    padding: 20px;
    color: white;
    bottom: 0;
    left: 0;
    top: 50px;
    text-shadow: 0 0 30px #e00b21; }
    .tituloGenero h2 {
      display: flex;
      position: relative;
      left: 500px;
      top: 0;
      font-size: 40px; }
  .catalogo {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-around;
    align-content: space-around;
    padding: 120px;
    gap: 70px;
    left: 500px; }
    .catalogo .imgLibros {
      background-color: #580104;
      border: solid white;
      width: 260px;
      height: 430px;
      padding: 10;
      border-radius: 20px;
      margin: 20px; }
      .catalogo .imgLibros:hover {
        transform: translateY(-3%);
        box-shadow: 0 0 35px #e00b21; }
      .catalogo .imgLibros img {
        border-radius: 20px;
        display: flex;
        position: relative;
        width: 225px;
        height: 300px;
        left: 5px;
        top: 0; }
      .catalogo .imgLibros .texto1 {
        display: flex;
        position: relative;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0;
        margin: 0;
        font-size: 16px;
        left: 8px; }
      .catalogo .imgLibros .texto2 {
        display: flex;
        position: relative;
        color: white;
        padding: 0;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        bottom: 20px;
        top: 15px;
        left: 8px; }
  .cuadroContacto {
    border: solid white;
    border-radius: 70px;
    display: flex;
    position: relative;
    padding: 5px;
    margin: 30px;
    width: 900px;
    height: 430px;
    left: 200px;
    transition: 1s;
    top: 0; }
    .cuadroContacto .formularioContacto {
      display: flex;
      position: relative;
      flex-direction: column;
      margin: 50px;
      top: 0;
      width: 700px;
      height: 50px;
      left: 40px;
      color: white;
      gap: 10px; }
      .cuadroContacto .formularioContacto textarea {
        width: 700px;
        height: 50px; }
  .piePagina {
    background-color: #7e0814;
    display: flex;
    position: relative;
    padding: 40px; }
    .piePagina .py {
      display: flex;
      position: relative;
      width: 100px;
      height: 100px;
      padding: 20px;
      left: 450px;
      bottom: 0;
      transition: 1s; }
      .piePagina .py:hover {
        transform: scale(1.1); }
      .piePagina .py img {
        border: solid white;
        border-radius: 20px; } }
