@import url("https://fonts.googleapis.com/css2?family=Acme&family=Indie+Flower&family=Montserrat:wght@100&family=Roboto:ital,wght@0,700;1,900&display=swap");
@media (min-width: 380px) {
  .boton {
    background-color: #723605;
    color: white;
    display: flex;
    position: relative;
    font-size: 25px;
    padding: 1px 23px;
    text-decoration: none;
    text-align: center;
    width: 160px;
    height: 40px;
    left: 10px;
  }
}
@media (min-width: 480px) {
  .boton {
    background-color: #723605;
    color: white;
    display: flex;
    position: relative;
    font-size: 15px;
    padding: 4px 24px;
    text-decoration: none;
    text-align: center;
    width: 120px;
    height: 30px;
    left: 10px;
  }
}
@media (min-width: 580px) {
  .boton {
    background-color: #723605;
    color: white;
    display: flex;
    position: relative;
    font-size: 20px;
    padding: 8px 40px;
    text-decoration: none;
    text-align: center;
    width: 180px;
    height: 50px;
    left: 10px;
  }
}
@media (min-width: 800px) {
  .boton {
    background-color: #723605;
    color: white;
    display: flex;
    position: relative;
    font-size: 20px;
    padding: 8px 28px;
    text-decoration: none;
    text-align: center;
    width: 150px;
    height: 50px;
    left: 10px;
  }
}
@media (min-width: 1024px) {
  .boton {
    background-color: #723605;
    border-radius: 10px;
    color: white;
    display: flex;
    position: relative;
    font-size: 30px;
    padding: 2px 25px;
    text-decoration: none;
    text-align: center;
    width: 270px;
    height: 50px;
    left: 15px;
    bottom: 15px;
  }
}
@media (min-width: 1200px) {
  .boton {
    background-color: black;
    color: white;
    display: flex;
    position: relative;
    font-size: 20px;
    padding: 2px 30px;
    margin: 0;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    width: 210px;
    height: 40px;
    bottom: 0;
    top: 6px;
    left: 20px;
  }
}

@media (min-width: 1200px) {
  .botonInicio {
    background-color: #723605;
    color: white;
    display: flex;
    position: relative;
    font-size: 20px;
    padding: 2px 90px;
    border-radius: 15px;
    text-decoration: none;
    width: 320px;
    height: 40px;
    top: 385px;
    right: 200px;
  }
}

.catalogo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  justify-content: space-around;
  align-content: space-around;
  padding: 40px;
  margin: 30px;
}
.catalogo img {
  width: 140px;
  height: 190px;
  padding: 10px;
}

.cuadroContacto {
  display: flex;
  position: relative;
  padding: 10px;
  margin: 40px;
  width: 300px;
  height: 400px;
  left: 50px;
}
.cuadroContacto .formularioContacto {
  background-color: transparent;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 10px;
  margin: 10;
  top: 45px;
  width: 200px;
  height: 200px;
  left: 43px;
}
.cuadroContacto .formularioContacto textarea {
  width: 200px;
  height: 50px;
}

footer {
  background-color: #723605;
  display: flex;
  flex-direction: row;
  padding: 30px;
}
footer .py {
  display: flex;
  position: relative;
  width: 70px;
  height: 70px;
  padding: 15px;
  top: 5px;
  left: 100px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #8d4103;
  size: 100vh;
  color: white;
}

.tituloPrincipal {
  position: relative;
  width: 400px;
  height: 80px;
  display: flex;
}
.tituloPrincipal h1 {
  display: flex;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  width: 200px;
  height: 100px;
  top: 15px;
  color: white;
}

.imagenPrincipal {
  display: flex;
  position: relative;
  width: 450px;
  height: 450px;
  top: 15px;
  left: 15px;
}

/*mapa de las imagenes del carrusel*/
.map--imgPrincipal1 {
  background-color: #9e2a2b;
}

.map--imgPrincipal2 {
  background-color: #9e2a2b;
}

.map--imgPrincipal3 {
  background-color: #9e2a2b;
}

.navColor {
  background-color: #723605;
}

@media (min-width: 380px) {
  .navColor {
    background-color: #723605;
    color: white;
    border-radius: 0 0 20px 20px;
  }
  .textoNav {
    display: flex;
    position: relative;
    right: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 8px;
  }
  .tituloCarrusel {
    display: flex;
    position: relative;
    top: 10px;
    padding: 10px;
    margin: 20px;
    left: 15px;
    width: 300px;
    text-align: center;
  }
  .tituloCarrusel h2 {
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  .imagenPrincipal {
    background-color: #723605;
    border-radius: 20px;
    border: solid #723605;
    display: flex;
    position: relative;
    width: 290px;
    height: 250px;
    left: 40px;
  }
  .informacion {
    display: flex;
    position: relative;
    font-size: 13px;
    width: 300px;
    height: 800px;
    left: 40px;
    top: 70px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .informacion .infoH3 {
    display: flex;
    position: relative;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0 15px 0;
  }
  .tituloPrincipal {
    position: relative;
    width: 380px;
    height: 80px;
    display: flex;
  }
  .tituloPrincipal h1 {
    display: flex;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    width: 200px;
    height: 100px;
    top: 15px;
    color: white;
    left: 75px;
  }
  .catalogo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    justify-content: space-around;
    align-content: space-around;
    padding: 40px;
    margin: 30px;
  }
  .catalogo img {
    width: 180px;
    height: 230px;
    padding: 10px;
  }
  .cuadroContacto {
    display: flex;
    position: relative;
    padding: 10px;
    margin: 40px;
    width: 200px;
    height: 300px;
    left: 8px;
  }
  .cuadroContacto .formularioContacto {
    background-color: b;
    display: flex;
    position: relative;
    flex-direction: column;
    color: white;
    gap: 10px;
    margin: 5px;
    top: 1px;
    width: 270px;
    height: 270px;
    left: 1px;
  }
  .cuadroContacto .formularioContacto textarea {
    width: 270px;
    height: 90px;
  }
  footer {
    background-color: #723605;
    display: flex;
    flex-direction: row;
    padding: 30px;
    margin-top: 100px;
  }
  footer .redesSociales {
    display: flex;
    position: relative;
    color: white;
    font-size: 15px;
    top: 10px;
    text-align: center;
  }
  footer .py {
    background-color: aqua;
    display: flex;
    position: relative;
    width: 70px;
    height: 70px;
    padding: 15px;
    top: 5px;
    left: 1px;
    color: white;
  }
}
@media (min-width: 480px) {
  .navColor {
    background-color: #723605;
  }
  .textoNav {
    display: flex;
    position: relative;
    left: 20px;
    font-size: 30px;
  }
  .imagenPrincipal {
    display: flex;
    position: relative;
    width: 400px;
    height: 400px;
    left: 15px;
    margin: 30px;
  }
  .tituloPrincipal {
    position: relative;
    width: 400px;
    height: 80px;
    display: flex;
  }
  .tituloPrincipal h1 {
    display: flex;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    width: 200px;
    height: 100px;
    top: 15px;
    color: white;
    left: 170px;
  }
  .catalogo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    justify-content: space-around;
    align-content: space-around;
    padding: 40px;
    margin: 30px;
  }
  .catalogo img {
    width: 140px;
    height: 190px;
    padding: 10px;
  }
  .cuadroContacto {
    display: flex;
    position: relative;
    padding: 10px;
    margin: 40px;
    width: 300px;
    height: 400px;
    left: 50px;
  }
  .cuadroContacto .formularioContacto {
    background-color: transparent;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 10px;
    margin: 10;
    top: 45px;
    width: 200px;
    height: 200px;
    left: 43px;
  }
  .cuadroContacto .formularioContacto textarea {
    width: 200px;
    height: 50px;
  }
  footer {
    background-color: #723605;
    display: flex;
    flex-direction: row;
    padding: 30px;
    margin-top: 100px;
  }
  footer .redesSociales {
    display: flex;
    position: relative;
    color: white;
    font-size: 20px;
    top: 10px;
    text-align: center;
  }
  footer .py {
    display: flex;
    position: relative;
    width: 70px;
    height: 70px;
    padding: 15px;
    top: 5px;
    left: 1px;
  }
}
@media (min-width: 580px) {
  .navColor {
    background-color: #723605;
  }
  .imagenPrincipal {
    display: flex;
    position: relative;
    width: 410px;
    height: 410px;
    left: 40px;
    margin: 50px;
  }
  .tituloPrincipal {
    display: flex;
    position: relative;
    width: 400px;
    height: 80px;
    left: 30px;
    bottom: 1px;
  }
  .tituloPrincipal h1 {
    display: flex;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    width: 190px;
    height: 50px;
    color: white;
  }
  .catalogo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    justify-content: space-around;
    align-content: space-around;
    padding: 40px;
    margin: 30px;
  }
  .catalogo img {
    width: 200px;
    height: 300px;
    padding: 10px;
  }
  .cuadroContacto {
    display: flex;
    position: relative;
    padding: 10px;
    margin: 40px;
    width: 300px;
    height: 400px;
    left: 90px;
  }
  .cuadroContacto .formularioContacto {
    background-color: transparent;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 10px;
    margin: 10;
    top: 30px;
    width: 200px;
    height: 200px;
    left: 40px;
  }
  .cuadroContacto .formularioContacto textarea {
    width: 200px;
    height: 50px;
  }
  footer {
    background-color: #723605;
    display: flex;
    flex-direction: row;
    padding: 30px;
    margin-top: 110px;
  }
  footer .redesSociales {
    display: flex;
    position: relative;
    color: white;
    font-size: 25px;
    top: 10px;
    text-align: center;
  }
  footer .py {
    display: flex;
    position: relative;
    width: 80px;
    height: 80px;
    padding: 15px;
    top: 5px;
    left: 1px;
  }
}
@media (min-width: 800px) {
  .navColor {
    background-color: #723605;
  }
  .imagenPrincipal {
    display: flex;
    position: relative;
    width: 700px;
    height: 500px;
    padding: 50px;
    top: 20px;
    left: 1px;
    margin: 60px;
  }
  .tituloPrincipal {
    display: flex;
    position: relative;
    width: 400px;
    height: 70px;
    left: 135px;
    bottom: 5px;
  }
  .tituloPrincipal h1 {
    display: flex;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    width: 190px;
    height: 50px;
    color: white;
  }
  .catalogo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
    justify-content: space-around;
    align-content: space-around;
    padding: 50px;
    margin: 40px;
    left: 10px;
  }
  .catalogo img {
    width: 170px;
    height: 240px;
    padding: 10px;
  }
  .cuadroContacto {
    display: flex;
    position: relative;
    padding: 10px;
    margin: 60px;
    width: 570px;
    height: 350px;
    left: 55px;
  }
  .cuadroContacto .formularioContacto {
    background-color: transparent;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    top: 1px;
    width: 450px;
    height: 200px;
    left: 40px;
  }
  .cuadroContacto .formularioContacto textarea {
    width: 450px;
    height: 50px;
  }
  footer {
    background-color: #723605;
    display: flex;
    flex-direction: row;
    padding: 40px;
  }
  footer .redesSociales {
    display: flex;
    position: relative;
    color: white;
    font-size: 20px;
    top: 1px;
    left: 265px;
    text-align: center;
  }
  footer .py {
    display: flex;
    position: relative;
    width: 90px;
    height: 90px;
    padding: 20px;
    top: 30px;
    left: 1px;
  }
}
@media (min-width: 1024px) {
  .navColor {
    background-color: #723605;
    height: 150px;
    border-radius: 0 0 50px 50px;
  }
  .textoNav {
    display: flex;
    position: relative;
    right: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 8px;
  }
  .textoNav:hover {
    transform: scale(1.1);
    background-color: #8d4103;
    box-shadow: 0 0 30px #8d4103;
    border-radius: 15px;
  }
  .tituloCarrusel {
    background-color: black;
    display: flex;
    position: relative;
    top: 50px;
    padding: 10px;
    margin: 20px;
    left: 150px;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .tituloCarrusel h2 {
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  .imagenPrincipal {
    background-color: #723605;
    border-radius: 60px;
    border: solid #723605;
    display: flex;
    position: relative;
    width: 620px;
    height: 350px;
    padding: 0;
    top: 90px;
    left: 150px;
  }
  .informacion {
    background-color: black;
    display: flex;
    position: relative;
    padding: 30px;
    margin: 20px;
    top: 30px;
    width: 750px;
    height: 600px;
    text-align: center;
    left: 100px;
    font-size: 15px;
  }
  .informacion .infoH3 {
    padding: 20px;
    font-size: 20px;
    font-family: .informacion .infoH3 fontarial;
  }
  .tituloPrincipal {
    border-right: 0 50px 50px 0;
    display: flex;
    position: relative;
    width: 500px;
    height: 50px;
    bottom: 120px;
    right: 0;
    left: 50px;
  }
  .tituloPrincipal h1 {
    display: flex;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    width: 190px;
    height: 50px;
    top: 127px;
    left: 0;
    color: white;
  }
  .tituloGenero {
    display: flex;
    position: relative;
    padding: 20px;
    color: white;
    bottom: 0;
    left: 0;
    top: 50px;
    text-shadow: 0 0 30px black;
  }
  .tituloGenero h2 {
    display: flex;
    position: relative;
    left: 30px;
    top: 20px;
    font-size: 20px;
  }
  .catalogo {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-around;
    align-content: space-around;
    padding: 120px;
    left: 15px;
  }
  .catalogo .imgLibros {
    background-color: #8d4103;
    border: solid white;
    width: 260px;
    height: 420px;
    padding: 10;
    border-radius: 20px;
    margin: 20px;
    transition: 1s;
  }
  .catalogo .imgLibros:hover {
    transform: scale(1.1);
  }
  .catalogo .imgLibros img {
    border-radius: 20px;
    display: flex;
    position: relative;
    width: 240px;
    height: 310px;
    left: 5px;
    top: 0;
  }
  .catalogo .imgLibros .texto1 {
    display: flex;
    position: relative;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 18px;
    left: 8px;
  }
  .catalogo .imgLibros .texto2 {
    display: flex;
    position: relative;
    color: white;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    bottom: 20px;
    top: 0;
    left: 8px;
  }
}
.cuadroContacto {
  background-color: #8d4103;
  border: solid white;
  border-radius: 70px;
  display: flex;
  position: relative;
  padding: 5px;
  margin: 40px;
  width: 800px;
  height: 450px;
  left: 240px;
  transition: 1s;
  box-shadow: 0 0 30px black;
}
.cuadroContacto:hover {
  transform: scale(1.1);
}
.cuadroContacto .formularioContacto {
  background-color: transparent;
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 50px;
  top: 5px;
  width: 590px;
  height: 50px;
  left: 45px;
  color: white;
}
.cuadroContacto .formularioContacto textarea {
  width: 590px;
  height: 70px;
}

footer {
  background-color: #723605;
  display: flex;
  position: relative;
  padding: 10px;
}
footer .redesSociales {
  display: flex;
  position: relative;
  color: white;
  font-size: 15px;
  left: 200px;
  height: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
footer .py {
  display: flex;
  position: relative;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  padding: 20px;
  transition: 1s;
}
footer .py:hover {
  transform: scale(1.2);
}

@media (min-width: 1200px) {
  .navColor {
    background-color: #723605;
    height: 150px;
    border-radius: 0 0 50px 50px;
  }
  .textoNav {
    display: flex;
    position: relative;
    right: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 8px;
    left: 0;
  }
  .textoNav:hover {
    transform: scale(1.1);
    background-color: #8d4103;
    box-shadow: 0 0 30px #8d4103;
    border-radius: 15px;
  }
  .tituloCarrusel {
    display: flex;
    position: relative;
    top: 50px;
    padding: 10px;
    margin: 20px;
    left: 320px;
    width: 900px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .tituloCarrusel h2 {
    font-size: 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  .imagenPrincipal {
    background-color: #723605;
    border-radius: 60px;
    border: solid #723605;
    display: flex;
    position: relative;
    width: 700px;
    height: 400px;
    padding: 0;
    top: 90px;
    left: 300px;
  }
  .informacion {
    display: flex;
    position: relative;
    padding: 30px;
    margin: 40px;
    top: 30px;
    width: 1000px;
    text-align: center;
    left: 100px;
    font-size: 18px;
  }
  .informacion .infoH3 {
    padding: 30px;
    font-size: 25px;
    font-family: .informacion .infoH3 fontarial;
  }
  .tituloPrincipal {
    border-right: 0 50px 50px 0;
    display: flex;
    position: relative;
    width: 500px;
    height: 50px;
    bottom: 120px;
    right: 0;
    left: 50px;
  }
  .tituloPrincipal h1 {
    display: flex;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    width: 190px;
    height: 50px;
    top: 127px;
    left: 0;
    color: white;
  }
  .tituloGenero {
    display: flex;
    position: relative;
    padding: 20px;
    color: white;
    bottom: 0;
    left: 0;
    top: 50px;
    text-shadow: 0 0 30px black;
  }
  .tituloGenero h2 {
    display: flex;
    position: relative;
    left: 30px;
    top: 20px;
    font-size: 20px;
  }
  .catalogo {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-around;
    align-content: space-around;
    padding: 120px;
    left: 15px;
  }
  .catalogo .imgLibros {
    background-color: #8d4103;
    border: solid white;
    width: 260px;
    height: 420px;
    padding: 10;
    border-radius: 20px;
    margin: 20px;
    transition: 1s;
  }
  .catalogo .imgLibros:hover {
    transform: scale(1.1);
  }
  .catalogo .imgLibros img {
    border-radius: 20px;
    display: flex;
    position: relative;
    width: 240px;
    height: 310px;
    left: 5px;
    top: 0;
  }
  .catalogo .imgLibros .texto1 {
    display: flex;
    position: relative;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 18px;
    left: 8px;
  }
  .catalogo .imgLibros .texto2 {
    display: flex;
    position: relative;
    color: white;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    bottom: 20px;
    top: 0;
    left: 8px;
  }
}
.cuadroContacto {
  background-color: #8d4103;
  border: solid white;
  border-radius: 70px;
  display: flex;
  position: relative;
  padding: 5px;
  margin: 40px;
  width: 800px;
  height: 450px;
  left: 240px;
  transition: 1s;
  box-shadow: 0 0 30px black;
}
.cuadroContacto:hover {
  transform: scale(1.1);
}
.cuadroContacto .formularioContacto {
  background-color: transparent;
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 50px;
  top: 5px;
  width: 590px;
  height: 50px;
  left: 45px;
  color: white;
}
.cuadroContacto .formularioContacto textarea {
  width: 590px;
  height: 70px;
}

footer {
  background-color: #723605;
  display: flex;
  flex-direction: row;
  padding: 35px;
  margin-top: 30px;
}
footer .redesSociales {
  display: flex;
  position: relative;
  color: white;
  font-size: 20px;
  top: 15px;
  text-align: center;
  left: 470px;
  font-family: Arial, Helvetica, sans-serif;
}
footer .py {
  display: flex;
  position: relative;
  width: 110px;
  height: 110px;
  padding: 30px;
  top: 35px;
  left: 160px;
  transition: 1s;
}
footer .py:hover {
  transform: scale(1.2);
}