@import '../base/variables';

footer {
    background-color: $colorteal;
    display: flex;
    flex-direction: row;
    padding: 30px;

    .py {
        display: flex;
        position: relative;
        width: 70px;
        height: 70px;
        padding: 15px;
        top: 5px;
        left: 100px;
    }
}