.imagenPrincipal {
    display: flex;
    position: relative;
    width: 450px;
    height: 450px;
    top: 15px;
    left: 15px;
}

/*mapa de las imagenes del carrusel*/

$mapa: (imgPrincipal1: #9e2a2b,
    imgPrincipal2: #9e2a2b,
    imgPrincipal3: #9e2a2b,
);
@each $map, $color in $mapa {
    .map--#{$map} {
    background-color: $color;
    }
    
}