@import '../base/variables';



@media (min-width: 320px) {

    .iconoBoton {
        box-shadow: 0 0 5px $textoblanco;
        border-radius: 10px;

        &:hover {
            box-shadow: 0 0 5px $textoblanco;
        }
    }

    .buscador1 {
        border-radius: 10px;
        border-color: $colorteal;

        &:hover {
            box-shadow: 0 0 10px $colorresalteado;
            border-color: white;
        }
    }

    .botonBuscar {
        border-radius: 10px;
    }

    .navColor {
        background-color: $colorteal;
        border-radius: 0 0 20px 20px;
    }

    .textoNav {
        display: flex;
        position: relative;
        font-family: $fontarial;
        font-size: 20px;
        padding: 8px;

    }

    .tituloCarrusel {
        display: flex;
        position: relative;
        top: 30px;
        padding: 10px 0 0 0;
        left: 10px;
        width: 300px;
        align-items: center;

        h2 {
            font-size: 25px;
            text-align: center;
            font-family: $fontarial;
            color: $textoblanco;
        }
    }

    .imgPrincipal {
        display: flex;
        position: relative;
        padding: 0;
        width: 290px;
        top: 70px;
        left: 23px;
        flex-direction: column;

        img {
            border: solid $textoblanco;
            border-radius: 40px;
            width: 280px;
            height: 230px;
        }
    }

    .informacion {
        display: flex;
        position: relative;
        padding: 30px 0 0 5px;
        margin-bottom: 50px;
        text-align: center;
        left: 0;
        font-size: 14px;
        color: $textoblanco;
        top: 30px;

        .infoH3 {
            display: flex;
            padding: 30px 0 0 0;
            width: 300px;
            margin: 10px 0 35px 0;
            font-size: 25px;
            font-family: &fontarial;
            right: 5px;
            top: 20px;
            align-items: center;
        }

    }

    .tituloPrincipal {

        border-right: 0 50px 50px 0;
        display: flex;
        position: relative;
        width: 180px;
        height: 50px;
        bottom: 120px;
        right: 0;
        left: 50px;


        h1 {
            display: flex;
            position: relative;
            font-family: Arial,
                Helvetica,
                sans-serif;
            font-size: 30px;
            width: 190px;
            height: 50px;
            top: 127px;
            left: 0;
            color: $textoblanco;
        }
    }

    .tituloGenero {
        display: flex;
        position: relative;
        padding: 20px;
        color: $textoblanco;
        bottom: 0;
        left: 0;
        top: 80px;

        text-shadow: 0 0 30px $colorresalteado;


        h2 {
            display: flex;
            position: relative;
            left: 30px;
            top: 5px;
            font-size: 30px;
        }
    }

    .catalogo {
        display: grid;
        position: relative;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-content: space-around;
        align-content: space-around;
        padding: 160px;
        left: 0;
        width: 290px;
        top: 0;

        .imgLibros {
            background-color: $colorcoral;
            border: solid $textoblanco;
            width: 230px;
            height: 385px;
            padding: 10px;
            border-radius: 20px;
            margin: 20px;

            img {
                border-radius: 20px;
                display: flex;
                position: relative;
                width: 205px;
                height: 275px;
                left: 0;
                top: 0;
            }

            .texto1 {
                display: flex;
                position: relative;
                color: white;
                font-family: Arial,
                    Helvetica,
                    sans-serif;
                padding: 0;
                margin: 0;
                font-size: 14px;
                left: 8px;
                top: 10px;

            }

            .texto2 {
                display: flex;
                position: relative;
                color: white;
                padding: 0;
                margin: 0;
                font-family: Arial,
                    Helvetica,
                    sans-serif;
                font-size: 12px;
                bottom: 20px;
                top: 10px;
                left: 8px;
            }

        }
    }

    .cuadroContacto {
        border: solid $textoblanco;
        border-radius: 70px;
        display: flex;
        position: relative;
        padding: 5px;
        margin: 30px;
        width: 301px;
        height: 500px;
        right: 20px;
        transition: 1s;
        top: 0;

        .formularioContacto {
            display: flex;
            position: relative;
            flex-direction: column;
            margin: 50px;
            top: 5px;
            width: 180px;
            height: 30px;
            left: 0;
            gap: 15px;
            color: white;


            textarea {
                width: 180px;
                height: 80px;
            }
        }

    }

    .piePagina {
        border-radius: 20px 20px 0 0;
        background-color: $colorteal;
        display: flex;
        position: relative;
        padding: 50px;

        .py {
            display: flex;
            position: relative;
            width: 40px;
            height: 40px;
            padding: 30px;
            right: 20px;
            bottom: 30px;

            img {
                border: solid $textoblanco;
                border-radius: 20px;
                margin: 10px;
            }
        }
    }
}





@media (min-width: 410px) {
    .iconoBoton {
        box-shadow: 0 0 5px $textoblanco;
        border-radius: 10px;

        &:hover {
            box-shadow: 0 0 5px $textoblanco;
        }
    }

    .buscador1 {
        border-radius: 10px;
        border-color: $colorteal;

        &:hover {
            box-shadow: 0 0 10px $colorresalteado;
            border-color: white;
        }
    }

    .botonBuscar {
        border-radius: 10px;
    }
    .navColor {
        background-color: $colorteal;
        border-radius: 0 0 20px 20px;
    }

    .textoNav {
        display: flex;
        position: relative;
        font-family: $fontarial;
        font-size: 20px;
        padding: 8px;

    }

    .tituloCarrusel {
        display: flex;
        position: relative;
        top: 30px;
        padding: 10px;
        margin: 20px;
        left: 40px;
        width: 300px;
        text-align: center;

        h2 {
            font-size: 20px;
            text-align: center;
            font-family: $fontarial;
            color: $textoblanco;
        }
    }

    .imgPrincipal {
        display: flex;
        position: relative;
        padding: 0;
        width: 320px;
        top: 70px;
        left: 35px;
        flex-direction: column;

        img {
            border: solid $textoblanco;
            border-radius: 40px;
            width: 340px;
            height: 300px;
        }
    }

    .informacion {
        display: flex;
        position: relative;
        padding: 30px;
        margin: 5px;
        text-align: center;
        left: 5px;
        font-size: 15px;
        color: $textoblanco;
        top: 30px;

        .infoH3 {
            display: flex;
            padding: 50px 60px;
            width: 340px;
            font-size: 20px;
            font-family: &fontarial;
            left: 500px;
            top: 20px;
            align-items: center;
        }

    }

    .tituloPrincipal {

        border-right: 0 50px 50px 0;
        display: flex;
        position: relative;
        width: 300px;
        height: 50px;
        bottom: 120px;
        right: 0;
        left: 50px;


        h1 {
            display: flex;
            position: relative;
            font-family: Arial,
                Helvetica,
                sans-serif;
            font-size: 30px;
            width: 190px;
            height: 50px;
            top: 127px;
            left: 0;
            color: $textoblanco;
        }
    }

    .tituloGenero {
        display: flex;
        position: relative;
        padding: 20px;
        color: $textoblanco;
        bottom: 0;
        left: 0;
        top: 80px;

        text-shadow: 0 0 30px $colorresalteado;


        h2 {
            display: flex;
            position: relative;
            left: 40px;
            top: 5px;
            font-size: 40px;
        }
    }

    .catalogo {
        display: grid;
        position: relative;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: space-around;
        align-content: space-around;
        padding: 160px;
        left: 45px;
        width: 300px;
        top: 0;

        .imgLibros {
            background-color: $colorcoral;
            border: solid $textoblanco;
            width: 181px;
            height: 325px;
            padding: 10px;
            border-radius: 20px;
            margin: 20px;

            img {
                border-radius: 20px;
                display: flex;
                position: relative;
                width: 155px;
                height: 220px;
                left: 0;
                top: 0;
            }

            .texto1 {
                display: flex;
                position: relative;
                color: white;
                font-family: Arial,
                    Helvetica,
                    sans-serif;
                padding: 0;
                margin: 0;
                font-size: 12px;
                left: 8px;
                top: 10px;

            }

            .texto2 {
                display: flex;
                position: relative;
                color: white;
                padding: 0;
                margin: 0;
                font-family: Arial,
                    Helvetica,
                    sans-serif;
                font-size: 10px;
                bottom: 20px;
                top: 10px;
                left: 8px;
            }

        }
    }

    .cuadroContacto {
        border: solid $textoblanco;
        border-radius: 70px;
        display: flex;
        position: relative;
        padding: 5px;
        margin: 30px;
        width: 350px;
        height: 500px;
        left: 0;
        transition: 1s;
        top: 0;

        .formularioContacto {
            display: flex;
            position: relative;
            flex-direction: column;
            margin: 50px;
            top: 17px;
            width: 235px;
            height: 30px;
            left: 0;
            gap: 15px;
            color: white;


            textarea {
                width: 235px;
                height: 50px;
            }
        }

    }


    .piePagina {
        border-radius: 20px 20px 0 0;
        background-color: $colorteal;
        display: flex;
        position: relative;
        padding: 50px;

        .py {
            display: flex;
            position: relative;
            width: 40px;
            height: 40px;
            padding: 30px;
            left: 25px;
            bottom: 30px;

            img {
                border: solid $textoblanco;
                border-radius: 20px;
                margin: 10px;
            }
        }
    }
}




@media (min-width: 768px) {
    .iconoBoton {
        box-shadow: 0 0 5px $textoblanco;
        border-radius: 10px;

        &:hover {
            box-shadow: 0 0 5px $textoblanco;
        }
    }

    .buscador1 {
        border-radius: 10px;
        border-color: $colorteal;

        &:hover {
            box-shadow: 0 0 10px $colorresalteado;
            border-color: white;
        }
    }

    .botonBuscar {
        border-radius: 10px;
    }

    .navColor {
        background-color: $colorteal;
        border-radius: 0 0 20px 20px;
    }

    .textoNav {
        display: flex;
        position: relative;
        font-family: $fontarial;
        font-size: 20px;
        padding: 8px;

    }

    .tituloCarrusel {
        display: flex;
        position: relative;
        top: 50px;
        padding: 10px;
        margin: 20px;
        left: 110px;
        width: 500px;
        text-align: center;

        h2 {
            font-size: 20px;
            text-align: center;
            font-family: $fontarial;
            color: $textoblanco;
        }
    }

    .imgPrincipal {
        display: flex;
        position: relative;
        padding: 0;
        width: 320px;
        top: 70px;
        left: 170px;
        flex-direction: column;

        img {
            border: solid $textoblanco;
            border-radius: 40px;
            width: 430px;
            height: 330px;
        }
    }

    .informacion {
        display: flex;
        position: relative;
        padding: 30px;
        margin: 40px 0 40px 0;
        text-align: center;
        left: 5px;
        font-size: 15px;
        color: $textoblanco;
        top: 30px;
        width: 750px;

        .infoH3 {
            display: flex;
            padding: 30px 90px;
            width: 500px;
            font-size: 20px;
            font-family: &fontarial;
            left: 500px;
            top: 50px;
            margin-left: 100px;
            align-items: center;
        }

    }

    .tituloPrincipal {

        border-right: 0 50px 50px 0;
        display: flex;
        position: relative;
        width: 300px;
        height: 50px;
        bottom: 120px;
        right: 0;
        left: 50px;


        h1 {
            display: flex;
            position: relative;
            font-family: Arial,
                Helvetica,
                sans-serif;
            font-size: 30px;
            width: 190px;
            height: 50px;
            top: 127px;
            left: 0;
            color: $textoblanco;
        }
    }

    .tituloGenero {
        display: flex;
        position: relative;
        padding: 20px;
        color: $textoblanco;
        bottom: 0;
        left: 160px;
        top: 80px;
        width: 400px;

        text-shadow: 0 0 30px $colorresalteado;


        h2 {
            display: flex;
            position: relative;
            left: 40px;
            top: 5px;
            font-size: 40px;
        }
    }

    .catalogo {
        display: grid;
        position: relative;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: space-around;
        align-content: space-around;
        padding: 160px;
        left: 225px;
        width: 300px;
        top: 0;

        .imgLibros {
            background-color: $colorcoral;
            border: solid $textoblanco;
            width: 220px;
            height: 370px;
            padding: 10px;
            border-radius: 15px;
            margin: 20px;

            img {
                border-radius: 10px;
                display: flex;
                position: relative;
                width: 195px;
                height: 260px;
                left: 0;
                top: 0;
            }

            .texto1 {
                display: flex;
                position: relative;
                color: white;
                font-family: Arial,
                    Helvetica,
                    sans-serif;
                padding: 0;
                margin: 0;
                font-size: 14px;
                left: 8px;
                top: 10px;

            }

            .texto2 {
                display: flex;
                position: relative;
                color: white;
                padding: 0;
                margin: 0;
                font-family: Arial,
                    Helvetica,
                    sans-serif;
                font-size: 12px;
                bottom: 20px;
                top: 10px;
                left: 8px;
            }

        }
    }

    .cuadroContacto {
        border: solid $textoblanco;
        border-radius: 70px;
        display: flex;
        position: relative;
        padding: 5px;
        margin: 30px;
        width: 710px;
        height: 500px;
        left: 0;
        transition: 1s;
        top: 0;

        .formularioContacto {
            display: flex;
            position: relative;
            flex-direction: column;
            margin: 50px;
            top: 0;
            width: 500px;
            height: 30px;
            left: 50px;
            gap: 15px;
            color: white;


            textarea {
                width: 500px;
                height: 100px;
            }
        }

    }


    .piePagina {
        border-radius: 20px 20px 0 0;
        background-color: $colorteal;
        display: flex;
        position: relative;
        padding: 50px;

        .py {
            display: flex;
            position: relative;
            width: 50px;
            height: 50px;
            padding: 40px;
            left: 180px;
            bottom: 30px;

            img {
                border: solid $textoblanco;
                border-radius: 20px;
                margin: 10px;
            }
        }
    }
}

@media (min-width: 1200px) {

    .navColor {
        background-color: $colorteal;
        height: 180px;
        border-radius: 0 0 50px 50px;
    }

    .textoNav {
        display: flex;
        position: relative;
        font-family: $fontarial;
        font-size: 17px;
        padding: 8px;

        &:hover {
            transform: scale(1.1);
            background-color: $colorcoral;
            box-shadow: 0 0 30px $colorcoral;
            border-radius: 15px;

        }
    }

    .tituloCarrusel {
        display: flex;
        position: relative;
        top: 50px;
        padding: 10px;
        margin: 20px;
        left: 390px;
        width: 600px;

        h2 {
            font-size: 20px;
            text-align: center;
            font-family: $fontarial;
            color: $textoblanco;
        }
    }

    .imgPrincipal {
        display: flex;
        position: relative;
        width: 500px;
        height: 450px;
        padding: 0;
        top: 90px;
        left: 360px;
        flex-direction: column;

        img {
            border: solid $textoblanco;
            border-radius: 40px;
            width: 600px;
            height: 400px;
        }
    }

    .informacion {
        display: flex;
        position: relative;
        padding: 30px;
        margin: 20px 0 20px;
        top: 50px;
        text-align: center;
        left: 140px;
        font-size: 15px;
        color: $textoblanco;
        right: 30px;

        .infoH3 {
            display: flex;
            padding: 50px 250px;
            width: 900px;
            font-size: 20px;
            font-family: &fontarial;
            left: 100px;
        }

    }

    .tituloPrincipal {
        border-right: 0 50px 50px 0;
        display: flex;
        position: relative;
        width: 500px;
        height: 50px;
        bottom: 120px;
        right: 0;
        left: 50px;


        h1 {
            display: flex;
            position: relative;
            font-family: Arial,
                Helvetica,
                sans-serif;
            font-size: 30px;
            width: 190px;
            height: 50px;
            top: 127px;
            left: 0;
            color: $textoblanco;
        }
    }

    .tituloGenero {
        display: flex;
        position: relative;
        padding: 20px;
        color: $textoblanco;
        bottom: 0;
        left: 0;
        top: 50px;

        text-shadow: 0 0 30px $colorresalteado;


        h2 {
            display: flex;
            position: relative;
            left: 500px;
            top: 0;
            font-size: 40px;
        }
    }

    .catalogo {
        display: grid;
        position: relative;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: space-around;
        align-content: space-around;
        padding: 120px;
        gap: 70px;
        left: 500px;

        .imgLibros {
            background-color: $colorcoral;
            border: solid $textoblanco;
            width: 260px;
            height: 430px;
            padding: 10;
            border-radius: 20px;
            margin: 20px;

            &:hover {
                transform: translateY(-3%);
                box-shadow: 0 0 35px $colorresalteado;
            }

            img {
                border-radius: 20px;
                display: flex;
                position: relative;
                width: 225px;
                height: 300px;
                left: 5px;
                top: 0;
            }

            .texto1 {
                display: flex;
                position: relative;
                color: white;
                font-family: Arial,
                    Helvetica,
                    sans-serif;
                padding: 0;
                margin: 0;
                font-size: 16px;
                left: 8px;

            }

            .texto2 {
                display: flex;
                position: relative;
                color: white;
                padding: 0;
                margin: 0;
                font-family: Arial,
                    Helvetica,
                    sans-serif;
                font-size: 14px;
                bottom: 20px;
                top: 15px;
                left: 8px;
            }

        }
    }

    .cuadroContacto {
        border: solid $textoblanco;
        border-radius: 50px;
        display: flex;
        position: relative;
        padding: 5px;
        margin: 30px;
        width: 700px;
        height: 500px;
        left: 280px;
        transition: 1s;
        top: 0;

        .formularioContacto {
            display: flex;
            position: relative;
            flex-direction: column;
            margin: 50px;
            top: 10px;
            width: 500px;
            height: 50px;
            left: 40px;
            color: white;
            gap: 10px;

            textarea {
                width: 500px;
                height: 100px;
            }
        }

    }


    .piePagina {
        background-color: $colorteal;
        display: flex;
        position: relative;
        padding: 40px;

        .py {
            display: flex;
            position: relative;
            width: 100px;
            height: 100px;
            padding: 20px;
            left: 450px;
            bottom: 0;

            img {
                border: solid $textoblanco;
                border-radius: 20px;
            }
        }
    }
}