@import "../base/variables";

.navColor {
    background-color: $colorteal;
    padding: 40px;
    border-radius: 0 0 50px 50px;
            @media (min-width: 320px){
         padding: 10px;
         border-radius: 0 0 50px 50px;
            }
                        @media (min-width: 768px) {
                                padding: 40px;
                            border-radius: 0 0 50px 50px;
                        }
}

.textoNav {
    font-size: 25px;
        @media (min-width: 1024px){
            &:hover {
                background-color: $colorcoral;
                transform: (1.1);
                box-shadow: 0 0 10px $colorresalteado;
                border-radius: 10px;
        }
    }
}


.iconoBoton {
margin-top: 10px;
border-radius: 10px;
}

.buscador1 {
border-radius: 15px;
}

.botonBuscar{
border-radius: 15px;
}