@import '../variables/variables';


@media (min-width:480px) {

    .navColor {
        background-color: $colorteal;
    }

    .imagenPrincipal {
        display: flex;
        position: relative;
        width: 450px;
        height: 450px;
        top: 15px;
        left: 15px;
        margin: 0;
    }



    .tituloPrincipal {
        position: relative;
        width: 400px;
        height: 80px;
        display: flex;

        h1 {
            display: flex;
            position: relative;
            font-family: $fontacme;
            font-size: 30px;
            width: 200px;
            height: 100px;
            top: 15px;
            color: $textoblanco;
        }

    }


    .catalogo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px;
        justify-content: space-around;
        align-content: space-around;
        padding: 40px;
        margin: 30px;

        img {
            width: 140px;
            height: 190px;
            padding: 10px;
        }
    }

    .cuadroContacto {
        display: flex;
        position: relative;
        padding: 10px;
        margin: 40px;
        width: 300px;
        height: 400px;
        left: 50px;

        .formularioContacto {
            background-color: transparent;
            display: flex;
            position: relative;
            flex-direction: column;
            gap: 10px;
            margin: 10;
            top: 45px;
            width: 200px;
            height: 200px;
            left: 43px;

            textarea {
                width: 200px;
                height: 50px;
            }
        }
    }



    footer {
        background-color: $colorteal;
        display: flex;
        flex-direction: row;
        padding: 30px;

        .py {
            display: flex;
            position: relative;
            width: 70px;
            height: 70px;
            padding: 15px;
            top: 5px;
            left: 100px;

        }
    }
}