.botono {
    @media (min-width:480px) {
        display: flex;
        position: relative;
        font-size: 15px;
        padding: 4px 24px;
        text-decoration: none;
        text-align: center;
        width: 120px;
        height: 30px;
        left: 10px;
    }

    @media (min-width:580px) {
        display: flex;
        position: relative;
        font-size: 20px;
        padding: 8px 40px;
        text-decoration: none;
        text-align: center;
        width: 180px;
        height: 50px;
        left: 10px;
    }

    @media (min-width:800px) {
        display: flex;
        position: relative;
        font-size: 20px;
        padding: 8px 28px;
        text-decoration: none;
        text-align: center;
        width: 150px;
        height: 50px;
        left: 10px;
    }

    @media (min-width:1024px) {
        display: flex;
        position: relative;
        font-size: 50px;
        padding: 2px 25px;
        text-decoration: none;
        text-align: center;
        width: 270px;
        height: 90px;
        left: 15px;
    }

    @media (min-width:1200px) {
        display: flex;
        position: relative;
        font-size: 50px;
        padding: 2px 30px;
        text-decoration: none;
        text-align: center;
        width: 298.5px;
        height: 90px;
        left: 1px;
    }

    display: flex;
    position: relative;
    font-size: 30px;
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
}