@mixin acomodando {
        width: 140px;
        height: 190px;
        padding: 10px;
}

@mixin catalogo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px;
        justify-content: space-around;
        align-content: space-around;
        padding: 40px;
        margin: 30px;
}