@import '../base/variables';

.boton {
    display: flex;
    justify-content: center;
    background-color: $colornegro;
    border-radius: 10px;
    padding: 10px;
    color: $textoblanco;
    text-decoration: none;

    &:hover {
color: $textoblanco;

    }
}